@import './../shared/mixins/mixins.scss';

.field {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('./../../assets/img/game_board.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include flexbox();
}

.card-stack {
    position: relative;
    width: 120px;
    height: 188px;
    @include flexbox();

    .card-cover {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .top-card {
        bottom: 20px;
        left: 20px;
        cursor: pointer;
        transition: all .15s ease-in-out;

        &:hover {
            transform: scale(1.1) translate(8px, -10px);
        }
    }
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out forwards;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1.1) translate(200px, - 100px) rotate(-5deg);
    }
}

.played-card {
    transform: scale(1.1) translate(200px, - 100px) rotate(-5deg);
    bottom: 20px;
    left: 20px;
}